@import '~arui-feather/vars.css';

.flagIcon {
    background-color: var(--color-background-alfa-on-white);
    color: var(--color-content-minor-alfa-on-white);
    width: 100%;
    
    &__header {
        display: block;
    }

    &__body {
        display: flex;
    }

    &__column {
        padding: var(--gap-s);
    }
}
