@import '~arui-feather/vars.css';

.gridRow {
    background-color: var(--color-background-alfa-on-white);
    color: var(--color-content-minor-alfa-on-white);
    width: 100%;
    
    &__header {
        display: block;
    }

    &__body {
        height: 30px;
        background: #ff5c5c;
        margin-bottom: 10;
        margin: 7px;
    }

    &__column {
        background: #f04539;
    }

    &__row {
        margin-bottom: 0;
    }
}
